main > header {
	padding: 20px 40px;
	border-bottom: 2px solid color-mix(in srgb, var(--fg) 20%, transparent);

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

main > header button {
	height: 50px; 
	width: 120px;
}

main > header > search > form {
	display: flex;
	gap: 25px;
	align-items: center;
}
