main {
	display: flex;
	flex-direction: column;
}

main > header {
	padding: 20px 40px;
	border-bottom: 2px solid color-mix(in srgb, var(--fg) 20%, transparent);

	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-between;
}

main > header button {
	height: 50px; 
	width: 120px;
}

main > header > search > form {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	row-gap: 25px;
	gap: 5px;
	align-items: center;
}

main > header > search select {
	height: 50px;
	aspect-ratio: 3;
}

main > .success, main > .error {
	align-self: center;
}

main > footer {
	display: flex;
	padding: 40px;
	justify-content: center;
	align-items: center;
}

main > footer > .grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 16px;
}

.filter-container {
	display: flex;
	align-items: center;
	gap: 5px;
}

.thread-container {
	align-self: center;
	margin: 20px;
	gap: 20px;
	min-height: 50dvh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.thread-container > a > article {
	overflow-wrap: anywhere;
	color: var(--fg);
	background-color: color-mix(in srgb, var(--secondary) 20%, transparent);
	padding: 20px;
	border-radius: 10px;
	transition: 300ms;
	width: 400px;
}

@media (max-width: 400px) {
	.thread-container > a > article {
		width: 90dvw;
	}
}

.thread-container > a > article:hover {
	background-color: color-mix(in srgb, var(--accent) 30%, transparent);
}

.thread-container > a > article > header {
	display: flex;
	flex-direction: column;
}

.thread-container > a > article > header > h2 {
	margin: 1px;
	align-self: flex-start;
}

.thread-container > a > article > header > .top-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: color-mix(in srgb, var(--fg) 60%, transparent);
}

.thread-container > a > article > footer {
	display: flex;
	align-items: center;
	gap: 5px;
	color: color-mix(in srgb, var(--fg) 60%, transparent);
}

.thread-container > a > article > footer > img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.no-posts {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50dvh;
}
