body > header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;

	border-bottom: 2px solid var(--fg);
}

body > header > a > img {
	max-height: 70px;
}

body > header > ul {
	display: flex;
	align-items: flex-end;
	gap: 15px;
}

body > header > ul > a > li {
	list-style-type: none;
	color: var(--fg);
	font-size: 18px;
	font-weight: 700;
}

#menu {
	display: none;
}

nav {
	display: none;
	transition: display 0.5s
}


@media (orientation: portrait) or (max-width: 650px) {
	#menu > svg {
		width: 32px;
		height: 32px;
	}

	#menu > svg > path {
		stroke: var(--fg)
	}

	#menu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	body > header > ul {
		display: none;
	}

	#nav:checked + nav {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		display: block;
		background: var(--bg);
		padding: 20px 40px 20px 20px;
		border-left: 2px solid var(--fg);
		z-index: 1;
		/* animation-name: slide-in;
		animation-duration: 200ms; */
	}

	/*
	@keyframes slide-in {
		from {
			transform: translateX(200px);
		} to {
			transform: translateX(0);
		}
	}

	nav {
		animation-name: slide-out;
		animation-duration: 200ms;
	}

	@keyframes slide-in {
		from {
			transform: translateX(10000px);
			display: block;
		} to {
			transform: translateX(0);
			display: none;
		}
	}
	*/

	#close-menu > svg > g > path {
		stroke: var(--fg);
	}

	#close-menu > svg {
		width: 32px;
		height: 32px;
	}

	#menu, #close-menu {
		cursor: pointer;
	}

	nav ul {
		padding: 0;
	}

	nav li {
		list-style: none;
		color: var(--fg);
		font-weight: 700;
		font-size: 20px;
		padding: 8px 0;
		border-top: 2px solid var(--fg);
		border-bottom: 2px solid var(--fg);
		margin: 24px 0;
	}
}
