header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;

	border-bottom: 2px solid var(--fg);
}

header > a > img {
	max-height: 70px;
}

header > ul {
	display: flex;
	align-items: flex-end;
	gap: 15px;
}

header > ul > a > li {
	list-style-type: none;
	color: var(--fg);
	font-size: 18px;
	font-weight: 700;
}

#menu {
	display: none;
}


@media (orientation: portrait) or (max-width: 650px) {
	#menu > svg {
		width: 32px;
		height: 32px;
	}

	#menu > svg > path {
		stroke: var(--fg)
	}

	#menu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	header > ul {
		display: none;
	}
}
