body {
	width: 100%;
	height: 90dvh;
	margin: 0;
}

main {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

main > img {
	max-width: 95vw;
	max-height: 35dvh;
	object-fit: contain;
}

main > div {
	display: flex;
	gap: 30px;
}

button {
	width: 140px;
	height: 70px;
	transition: 100ms;
}

button:hover {
	transform: translateY(-3px);
}
