main {
	min-height: 75dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80dvh;
	gap: 30px;
}

.title {
	text-align: center;
}

form {
	gap: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

select {
	max-width: 300px;
}

button { 
	width: 100px;
	height: 50px;
	transition: 100ms ease-in-out 10ms;
}

button:hover {
	transform: scale(1.1);
}

.error {
	color: var(--red);
	font-weight: bold;
}

