main {
	padding: 20px;
}

.grid {
	display: grid;
	column-gap: 50px;
	row-gap: 10px
}

.controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.controls button {
	width: 150px;
	aspect-ratio: 3;
}

.question {
	background-color: color-mix(in srgb, var(--primary) 10%, transparent);
	margin: 32px 16px;
}

.question header {
	padding: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: color-mix(in srgb, var(--fg) 60%, transparent);
}

.question header > div {
	display: flex;
	align-items: center;
	gap: 5px;
}

.question header > div > img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.question {
	padding: 16px;
	border-radius: 16px;
}

.inputs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	gap: 32px;
}

.inputs > label {
	width: min(800px, 90%);
}

.inputs > label > div {
	background-color: color-mix(in srgb, var(--secondary) 30%, transparent);
	padding: 20px 25px;
	border-radius: 5px;
	transition: 200ms;
}

.inputs > button {
	padding: 20px 40px;
}

input[type="radio"] + div:hover {
	background-color: color-mix(in srgb, var(--accent) 30%, transparent);
}

input[type="radio"]:checked + div {
	background-color: color-mix(in srgb, var(--accent) 70%, transparent);
}

@media (orientation: landscape) and (min-width: 650px) {
	.grid {
		grid-template-columns: 8fr 2fr;
	}

	.grid > .question-container {
		grid-area: 1/1/2/2;
	}

	.grid > .controls {
		grid-area: 1/2/2/3;
	}

	.controls {
		flex-direction: column;
		align-items: center;
	}
}
