main{
    display:flex;
    flex-direction:column;
    gap:10px;
    min-height: 75dvh;
}

.thread{
    background-color: var(--secondary);
    margin: 20px;
    display:flex;
    flex-direction:column;
    border-radius:20px;
    padding: 20px;
}

.profile{
    justify-content:center;
}

.reply_container article{
    display:flex;
    flex-direction: column;
    background-color: var(--secondary);
    margin: 20px;
    border-radius:20px;
    padding: 20px;
}

main img{
    width: 40px;
	height: 40px;
}

.thread header{
    display:flex;
    flex-direction:column;
}

.profile{
    justify-content:center;
}

form{
    align-self:flex-end;
}
    